.menuItem {
  border-bottom: 2px dashed rgba(0, 0, 0, 0.08);
  text-decoration: none;
  width: var(--left-column-width);

  &.active {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.title {
  text-align: center;
  line-height: var(--header-height);
  font-size: 30px;
  font-family: 'Vast Shadow', cursive;
}